<html>
<head>
	<title>Sample Title</title>
	<meta name="author" content="David Wicks"/>
	<link rel="stylesheet" href="../styles/f+c.css"/>
	<script type="text/javascript" src="../three.js/Three.js"></script>
	<!-- Date: 2011-02-20 -->
	<script>
	function init(){
		var camera, scene, renderer;
		var width=960;
		var height=540;
		var formAndColor="#F597B0";
		setup();
		setInterval(loop, 1000/60);

		function setup(){
			camera = new THREE.Camera( 75, width/height, 1, 10000 );
			camera.position.z = 1000;

			scene = new THREE.Scene();

			for(var i=0; i < 1000; i++){
				var particle = new THREE.Particle( new THREE.ParticleCircleMaterial( { color: Math.random() * 0xffffff } ) );
	            particle.position.x = Math.random() * 2000 - 1000;
	            particle.position.y = Math.random() * 2000 - 1000;
	            particle.position.z = Math.random() * 2000 - 1000;
	            particle.scale.x = particle.scale.y = Math.random() * 10 + 5;
	            scene.addObject( particle );
			}

			renderer = new THREE.CanvasRenderer();
			renderer.setSize( width, height );
			document.body.appendChild(renderer.domElement);
		}

		function loop(){
			renderer.render(scene, camera);
		}
	}
	
	</script>
</head>
<body onload="init();">
	<h1>Form+Code: Sample</h1>
	<p>The original sample code can be found on the <a href="http://formandcode.com/code-examples/">Form+Code</a> website.</p>
	<p>three.js version written by David Wicks, <a href="http://sansumbrella.com/">sansumbrella.com</a>.</p>
</body>
</html>